asgiref==3.11.0
charset-normalizer==3.4.4
crispy-tailwind==1.0.3
Django==5.2.8
django-crispy-forms==2.5
pillow==12.0.0
python-dateutil==2.9.0.post0
reportlab==4.4.5
six==1.17.0
sqlparse==0.5.4
tzdata==2025.2
whitenoise==6.11.0
